{{!< default}}

<section id="#scrollspysection">
    <div class='container'>

      <div class='row'>

        <!-- Left Sidebar -->
        <div class='col-md-2'>
          <!-- Selfie Image -->
          <img src='images/me.jpg' class='img-responsive center-block' alt='Chris Troutner' />
          <br>
          <b><p class='text-center'>
            <a href="files/troutner_resume_11_2015.pdf">Download Resume</a>
          </p></b>
          <br>
          <!-- Left Column Button Menu -->
          <div class='visible-md visible-lg'>
            <ul class='list-unstyled'>
              <li>
                <a class="btn btn-primary" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseJavaScript" aria-expanded="false" aria-controls="collapseJavaScript">
                  JavaScript
              </a></li><br>
              <li>
                <a class="btn btn-primary" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseWebDev" aria-expanded="false" aria-controls="collapseWebDev">
                  Web Design
              </a></li><br>
              <li>
                <a class="btn btn-primary" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEmbedded" aria-expanded="false" aria-controls="collapseEmbedded">
                  Embedded Software
              </a></li><br>
              <li>
                <a class="btn btn-primary" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCircuits" aria-expanded="false" aria-controls="collapseCircuits">
                  Electrical Engineering
              </a></li></br>
            </ul>          
          </div>
        </div>

        <!-- Main content body -->
        <div class='col-md-10'>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <!-- <div ng-controller='panelController as panelCtrl' ng-init='tab=1' class="panel panel-default"> -->
            <div class="panel panel-default" ng-init="PC.initCollapseIcon('#collapseAbout')">
              <div class="panel-heading" role="tab" id="headingAbout">
                <h1 class="panel-title">
                  <a role="button" id="titleOverview" data-toggle="collapse" data-parent="#accordion" href="#collapseAbout" aria-expanded="true" aria-controls="collapseAbout">
                    <i class='glyphicon glyphicon-minus'></i>
                    Overview
                  </a>
                </h1>
              </div>
              <div id="collapseAbout" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingAbout">
                <div class="panel-body">
                  <p class="defaultMessage">Oops! There seems to have been a problem retrieving content from the server. Please reload the page.</p>
                  <content-about></content-about>
                </div>
              </div>
            </div>
            <div class="panel panel-default" ng-init="PC.initCollapseIcon('#collapseJavaScript')">
              <div class="panel-heading" role="tab" id="headingJavaScript">
                <h1 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseJavaScript" aria-expanded="false" aria-controls="collapseJavaScript">
                    <i class='glyphicon glyphicon-plus'></i>
                    JavaScript
                  </a>
                </h1>
              </div>
              <div id="collapseJavaScript" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingJavaScript">
                <div class="panel-body">
                  <content-javascript></content-javascript>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default" ng-init="PC.initCollapseIcon('#collapseWebDev')">
              <div class="panel-heading" role="tab" id="headingWebDev">
                <h1 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseWebDev" aria-expanded="false" aria-controls="collapseWebDev">
                    <i class='glyphicon glyphicon-plus'></i>
                    Web Design &amp; SEO
                  </a>
                </h1>
              </div>
              <div id="collapseWebDev" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingWebDev">
                <div class="panel-body">
                  <content-webdev></content-webdev>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default" ng-init="PC.initCollapseIcon('#collapseEmbedded')">
              <div class="panel-heading" role="tab" id="headingEmbedded">
                <h1 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEmbedded" aria-expanded="false" aria-controls="collapseEmbedded">
                    <i class='glyphicon glyphicon-plus'></i>
                    Embedded Software
                  </a>
                </h1>
              </div>
              <div id="collapseEmbedded" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEmbedded">
                <div class="panel-body">
                  <content-embedded></content-embedded>
                </div>
              </div>
            </div>
            <div class="panel panel-default" ng-init="PC.initCollapseIcon('#collapseCircuits')">
              <div class="panel-heading" role="tab" id="headingCircuits">
                <h1 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCircuits" aria-expanded="false" aria-controls="collapseCircuits">
                    <i class='glyphicon glyphicon-plus'></i>
                    Electrical Engineering
                  </a>
                </h1>
              </div>
              <div id="collapseCircuits" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCircuits">
                <div class="panel-body">
                  <!-- <section ng-include="'content-EE.html'"></section> -->
                  <content-circuits></content-circuits>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </section>

  <!-- Floating Nav Bar affixed to bottom of small and extra small screens to take viewer back to the top. -->
  <nav class="navbar navbar-default navbar-fixed-bottom visible-xs visible-sm">
    <div class="container">
      <p class='text-center lead'><strong><a href="#">Go To The Top</a></strong></p>
    </div>
  </nav>

  <div class='footer'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-4 col-md-3 col-md-offset-1 col-xs-6'>
          <h4>Contact Me:</h4>
          <ul class='list-unstyled'>
            <li><table><tr>
              <td><i class='glyphicon glyphicon-globe'> </i></td> 
              <td>1004 Commercial Ave, #458 <br> Anacortes, WA 98221</td>
            </tr></table><li><br>
            <li><i class='glyphicon glyphicon-phone'></i> Skype: <a href="skype:chris.troutner?chat">chris.troutner</a><li><br>
            <li><i class='glyphicon glyphicon-envelope'></i> <a href='mailto:chris.troutner@gmail.com'>chris.troutner@gmail.com</a><li>
          </ul>
        </div>

        <div class='col-sm-4 col-md-3 col-xs-6'>
          <h4>Social Media Profiles:</h4>
          <p><a href='https://www.linkedin.com/pub/chris-troutner/8/2bb/733' target='_blank'>LinkedIn Profile</a></p>
          <p><a href='https://www.codeschool.com/users/1623156' target='_blank'>Code School</a></p>
          <p><a href='http://stackoverflow.com/users/5179542/chris-troutner?tab=profile' target='_blank'>Stack Overflow</a></p>
          <p><a href='https://github.com/christroutner' target='_blank'>GitHub</a></p>
        </div>

        <div class='col-sm-4 col-md-offset-1 hidden-xs'>
          <h4>Code School Badges:</h4>
          <!--
          <table>
            <tr>
              <td><img src="images/CodeSchoolBadge-jQuery.png" class='img-responsive center-block'></td>
              <td><img src="images/CodeSchoolBadge-Bootstrap.png" class='img-responsive center-block'></td>
              <td><img src="images/CodeSchoolBadge-Angular.png" class='img-responsive center-block'></td>
            </tr>
          </table>
          -->
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">              
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active" style='visibility: hidden;'></li>
              <li data-target="#carousel-example-generic" data-slide-to="1" style='visibility: hidden;'></li>
              <li data-target="#carousel-example-generic" data-slide-to="2" style='visibility: hidden;'></li>
            </ol>


            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <a href="https://www.codeschool.com/courses/try-jquery" target="_blank">
                  <img src="images/CodeSchoolBadge-jQuery.png" alt="jQuery Badge" class='img-responsive center-block img-rounded' height='200'>
                  <p class="text-center bg-info text-muted">jQuery</p>
                </a>
              </div>
              <div class="item">
                <a href="https://www.codeschool.com/courses/blasting-off-with-bootstrap" target="_blank">
                  <img src="images/CodeSchoolBadge-Bootstrap.png" alt="Boostrap Badge" class='img-responsive center-block img-rounded'>
                  <p class="text-center bg-info text-muted">Twitter Bootstrap Framework</p>
                </a>
              </div>
              <div class="item">
                <a href="https://www.codeschool.com/courses/shaping-up-with-angular-js" target="_blank">
                  <img src="images/CodeSchoolBadge-Angular.png" alt="Angular Badge" class='img-responsive center-block img-rounded'>
                  <p class="text-center bg-info text-muted">Angular.js</p>
                </a>
              </div>
              
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            
          </div>
          
        </div>

        <div class='clearfix visible-xs'></div>


      </div>

      <!-- A row to add blank space in sm and xs screens so the bottom nav bar doesn't cover up the footer. -->
      <div class='row visible-xs visible-sm'>
        <div class='col-sm-12 col-xs-12'>
          <p><br><br><br></p>
        </div>
      </div>
    </div>
  </div>


  <!--  This snippet used to collapse hamburger menu on extra-small screens.
        Source: http://bit.ly/1N1M6r4 -->
  <script type="text/javascript">
    $(document).on('click','.navbar-collapse.in',function(e) {
      if( $(e.target).is('a') && $(e.target).attr('class') != 'dropdown-toggle' ) {
          $(this).collapse('hide');
      }
    }); 
  </script>

